nav#navbar
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  .container
    .row 
      .logo
      .menu
        .logo
        ul
          include menu.pug

script(src="./script/nav.js" defer)