#header-section {
  height: 100%;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #3fafef66;
    backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
    }
  }
  .bottom {
    background-image: url(../images/bottom-section.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subheading {
  color: #f3bd00;
  font-weight: 400;
}

.title {
  color: #0c2b4b;
}

#features {
  .block {
    background: #0c2b4b;
    color: white;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 100px;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

#incubator {
  .block {
    border: 1px solid rgba(200, 200, 200.5);
  }
  .button {
    background: #0c2b4b;
    padding: 1rem 2rem;
    margin-top: .5rem;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    &:hover {
      &:before {
        transform: scaleY(1);
      }
    }
    &::before {
      content: 'Apply Now';
      background: #00afef;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scaleY(0);
      transform-origin: bottom center;
      transition: all 500ms ease;
    }
  }
}

#timeline {
  .block {
    text-align: center;
    color: white;
    background: #0c2b4b;
    padding: 1.5rem 2rem;
    transition: all 500ms ease;
    height: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // &:hover {
    //   background: #00afef;
    // }
    h4 {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      color: #ffffff;
      span {
        font-weight: 900;
        font-size: 2rem;
      }
    }
    p {
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      color: #f3bd00;
    }
  }
}