extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

block page
  section#header-section
    .overlay
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./images/1.jpeg')
        .carousel-item
          img.d-block.w-100(src='./images/2.jpeg')
        .carousel-item
          img.d-block.w-100(src='./images/3.jpeg')
    //- .bottom
  section.section-content#features
    .container
      .row.align-items-center.justify-content-center
        .col-md-4
          .subheading Apply Now!...
          h2.title WSS Awards 2020
          p Kerala Startup Mission in connection with the annual Women Startup Summit is inviting nominations award categories.
        .col-md-7
          .row.align-items-center.g-0
            .col-6
              .block
                img.img-fluid(src="./images/iedc.png")
                h4 Best Inclusive IEDC Kerala
              .block
                img.img-fluid(src="./images/startup.png")
                h4 Best Inclusive Startup Kerala
            .col-6
              .block
                img.img-fluid(src="./images/incubator.png")
                h4 Best Inclusive Incubator Kerala

  section.section-content#incubator
    .container.mb-5
      .block
        .row.g-0
          .col-sm-5
            img.img-fluid(src="./images/incubator.jpg")
          .col-sm-7
            .p-4
              h2.title Best Inclusive Incubator Kerala
              p.text-justify The award presents an opportunity for the incubators to spur inclusiveness in the ecosystem. The awardees will be preferably those Incubators who are supporting startups with women founders, those who have done initiatives for empowering women entrepreneurs and startups that supports the women community through their product
              .row
                .col-sm-6
                  b Who can apply?
                  ul
                    li Any business incubator registered in Kerala
                    li Co-working spaces operating in Kerala for more than 2 years
                .col-sm-6
                  //- b Benefits for the Incubator**
                  //- ul
                  //-   li Connect with Service Partners of KSUM
                  //-   li Connect with Research Community

              a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSexWrfEftjTC9HmhkUGiXYjha1FZTxa3bgSErQSPCNMziUUBw/viewform") Apply Now

    .container.mt-5
      .block
        .row.g-0.flex-row-reverse
          .col-sm-5
            img.img-fluid(src="./images/startup.jpg")
          .col-sm-7
            .p-4
              h2.title Best Inclusive Startup Kerala
              p.text-justify This award is aimed to identify startups who promote inclusivity in the workspace. The award presents an opportunity to spur inclusiveness in the technology sector and especially among the emerging startups. The awardees will be preferably to those who are supporting women with their startup and also those who have initiatives within its employees for the welfare of women. 
              .row
                .col-sm-6
                  b Who can apply?
                  ul
                    li Startups registered with KSUM having Unique ID
                .col-sm-6
                  //- b Benefits for the Startup*
                  //- ul
                  //-   li Incubation Support
                  //-   li Mentor in Residence 
                  //-   li DIrect Access to Investor Cafe

              a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe-we8AiumirH4opF9ZB4P-1Cs-DeU4y86RRTz_juFYL23CTg/viewform") Apply Now

    .container.mt-5
      .block
        .row.g-0
          .col-sm-5
            img.img-fluid(src="./images/iedc.jpg")
          .col-sm-7
            .p-4
              h2.title Best Inclusive IEDC Kerala
              p.text-justify The award is aimed to identify IEDCs which has performed initiatives related to women in the last one year. (i.e from January 1, 2019 - December 31, 2019) 
              p.text-justify The award presents an opportunity to spur empowerment programs and initiatives for women among the IEDC community. The awardees will be preferably those who have conducted events exclusively for women, events with more women participation within college, support given to projects, R&D by women and also for projects related to women. 
              
              a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSffZ7sGG6oACBkqExOgZcOMiOpQCUNLMVgkWUidMIaOyu26qA/viewform") Apply Now          

  section.section-content.pt-0#timeline
    .container
      h2.title.text-center.mb-5 Timeline
      .row.justify-content-center
        .col-sm-3
          .block
            h4 Oct 8
              span 2020
            p Applications are open

        .col-sm-3
          .block
            h4 Oct 25
              span 2020
            p Deadline for submissions

        .col-sm-3
          .block
            h4 Oct 31
              span 2020
            p Announcement of awards


block script
  script(src="./script/index.js")
